body {
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 0 100px 100px 100px;
    
}

ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    list-style: none;
    background-color: #1f2937;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5e7eb;
    
}

.logo {
    display: flex;
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    flex-direction: column;
    
}

.main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    width: 400px;
}

.secondary {
    font-size: 18px;
    color: #E5e7eb;
    width: 400px;
}

button {
      align-items: center;
      appearance: button;
      background-color: #0276FF;
      border-radius: 8px;
      border-style: none;
      box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      font-family: "RM Neue",sans-serif;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
      padding: 10px 21px;
      text-align: center;
      text-transform: none;
      transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-top: 10px;
}
    
.hero-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f2937;
    padding-bottom: 100px;
}

.info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.images {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.pic-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 180px;
    text-align: center;
}

.text {
    margin-top: 10px;
}

.box {
    background-color: #E5e7eb;
    padding: 50px;

}

.quote {
   
    color: #1f2937;
    background-color: #E5e7eb;
}

.quote-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width: 700px;
    margin: 0px auto;
    color: #1f2937;
    
}

.quoter {
    display: flex;
    justify-content: end;
    width: 600px;
    margin: 0px auto;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.call {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 30px 20px 30px 20px;
    margin: 70px auto 70px;
    width: 800px;
    border-radius: 10px;
}

.call-back {
    background-color: #f9faf8;
}


.call-left {
    display: flex;
    flex-direction: column;
}

.call-header {
    font-size: 24px;
    color: #E5e7eb;
}

.call-text {
    font-size: 16px;
    color: #E5e7eb;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 72px;
    background-color: #1f2937;
    color: #E5e7eb;
  }

  button {
    
    border: 2px solid #f9faf8;
    color: #f9faf8

  }